body{
    display: flex;
    flex-direction: column;
    background-color: #E5DACE;
    justify-content: center;
    margin: 0px;
}


#my{
   width: 600px;
   height: 600px;
   margin: auto;
   object-fit: cover;
   margin-top: 20px;
   
}

#MainAbt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}
#MainClk {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#MainClk article {
    text-align: center;
    font-size: 8rem ;
    color: black;
    font-family: 'Mali', cursive;
    font-family: 'Itim', cursive;
}

article img{
    width : 400px; 
    height : 300px ;
}

header {
    background-color:#CEB4A7;
    text-align: center;
    font-size: 8rem ;
    color:#F7F6E7;
    font-family: 'Mali', cursive;
    font-family: 'Itim', cursive;
    border: 3px solid #E7D0A9;
}
header p{
    margin: 0;
}

.pic_logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pic_logo img{
    height: 100px;
}

.pic_logo button{
    background-color: rgb(2,2,2,2);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.pic_logo button:hover{
    transform: translateY(-8px);
}

nav a{
    float: right;
    display: block;
    color:  #7D887A;;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 35px;
    display: block;
    font-family: 'Mali', cursive;
    font-family: 'Itim', cursive;
    border: 3px solid #B32442;
}

#nav a:hover{
    background-color: grey(172,51,51);
    color: rgb(255,255,255);
    display: block;
}

#name1{

    color: #2D5D7C;
    text-align: center;
    text-justify: auto;
    font-size: 20px;
    margin-top: 20px;
}

#ME{
    width: 600px;
    height: 600px;
    margin: auto; 
    object-fit: cover;
    margin-top: 20px;
}

footer{
    background-color:#CEB4A7;
    text-align: center;
    color:#9A073C;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div{
    font-family: 'Mali', cursive;
    font-family: 'Itim', cursive;
}