body{
    background : #377375;
}
header {
    background-color:burlywood;
    text-align: center;
    font-size: 1.5em ;
    color:#CE4A50;

} 
main{
    display: flex;
}
.new{
    text-align: left;
    font: bold;   
}
.text_scottish{
    text-align: center;
    color: #DDEFE3;
}


article{
    display: flex;
}
.text_american_shorthair{
    text-align: center;
    color: #DDEFE3;
    
}

footer{
    background-color: yellow;
    text-align: center;
    color:grey;
}

