body{
    background : #F7F6E7;
}
header {
    background-color:#777D71;
    text-align: center;
    font-size: 8em ;
    color:#F7F6E7;

} 
main{
    display: flex;
    justify-content: space-evenly;
}
.new{
    text-align: left;
    font: bold;   
}
.text_scottish{
    text-align: left;
    color: #3C1F0E;
}

.text_american_shorthair{
    text-align: left;
    color: #3C1F0E;
    
}

.text_british{
    text-align: left;
    color: #3C1F0E;
}




footer{
    background-color:#BBD38B;
    text-align: left;
    color:grey;
}

