body{
    background:peru;
}
header {
    background-color:burlywood;
    text-align: center;
    font-size: 1.5em ;
    color:red;

} 
.new{
    text-align: left;
    font: bold;   
}
.Text{
    background-color: red;
    text-align: left;   
}

#name{margin-top: 50px}
#nickname{margin-top: 50px}
#old{margin-top: 50px}

#me_pic{
    height: 400px;
    border-block-start-width: 500pt;
    margin: 20px 40px 50px 200px;
}

footer{
    background-color: yellow;
    text-align: center;
}