body{
    background:peru;
}
header {
    background-color:burlywood;
    text-align: center;
    font-size: 1.5em ;
    color:red;

} 
.new{
    text-align: left;
    font: bold;   
}
.Test{
    background-color: red;
    text-align: left;   
}
